* {
    box-sizing: border-box;
}

html {
    background-image: url("images/AtHome-NightSky-1080x810-1.jpg")

}

.pageTitle {
    font-size: 30px;
    position: fixed;
    left: 600px;
    font-weight: bold;
    background-color:rgba(0, 0, 255, 0.689);
}

.links {
    position: fixed;
    bottom: 0;
}

.musicOption1 {
    position: fixed;
    left: 400px;
    top: 200px;
}